:root {
    --basis: 43.75;  
}

html {  
    background-color: darkslateblue;
}

body {
    margin: 0;
    height: 100%;
    
}

.main {
    margin: 0;
    display: flex;
    min-height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.main-container {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
    max-width: 700px;
    min-height: 700px;
    max-height: 700px;
    border: solid 2px black;
}

.grid {
    margin: 0px;
    display: flex;
    flex-basis: var(--basis);
    border: solid 1px;
    box-sizing: border-box;
}