@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --basis: 43.75;  
}
html {  
    font-family: 'Silkscreen', cursive;
}
body {
    margin: 0px;  
    background-color: #4c4288;
}
.master {
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.main {
    margin: 0px;
    margin-right: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    color: rgb(233, 26, 164);
}
.main-container {
    margin: 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
    max-width: 700px;
    min-height: 700px;
    max-height: 700px;
    border: dashed 6px black;
}
.grid {
    margin: 0px;
    display: flex;
    flex-basis: var(--basis);
    border: solid 1px;
    box-sizing: border-box;
}
#b16, #b48 {
    font-size: x-large;
    border: solid 3px rgb(0, 0, 0);
    background-color:#4c4288;
    color: white;
}
input {
    padding: 20px;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
}

.btns-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grid-size {
    margin-bottom: -15px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.s16-64 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    font-size: xx-large;
    gap: 3px;
}
#btns1 {
    font-size: xx-large;
    background-color: #4c4288;
    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}
#btns2 {
    font-size: xx-large;
    background-color: #4c4288;
    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}
#btns3 {
    font-size: xx-large;
    border: solid 3px rgb(0, 0, 0);
    background-color: #4c4288;
}
input:hover:enabled {
    background-color: rgb(233, 26, 164)!important;
}
.btns1active {
    background: linear-gradient(to right, #ff2ef5 0%, #0400ff 100%);
}
.btns2active {
    background-color: white!important;
}